orchestrator/step_function_def.json
{
  "StartAt": "GenerateLadder",
  "States": {
    "GenerateLadder": {
      "Type": "Pass",
      "Result": [
        {"codec": "libx265", "bitrate": "1000"},
        {"codec": "libx265", "bitrate": "1500"},
        {"codec": "libx265", "bitrate": "2200"},
        {"codec": "libx265", "bitrate": "3000"},
        {"codec": "libx264", "bitrate": "2000"},
        {"codec": "libx264", "bitrate": "3500"},
        {"codec": "libx264", "bitrate": "5000"}
      ],
      "Next": "ParallelResearch"
    },
    "ParallelResearch": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": { "Mode": "DISTRIBUTED", "ExecutionType": "STANDARD" },
        "StartAt": "RunBatchJob",
        "States": {
          "RunBatchJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "Parameters": {
              "JobName": "ChaiQLabJob",
              "JobQueue": "${batch_job_queue_arn}",
              "JobDefinition": "${batch_job_definition_arn}",
              "ContainerOverrides": {
                "Environment": [
                  {"Name": "BITRATE",    "Value.$": "${ctx_bitrate}"},
                  {"Name": "CODEC",      "Value.$": "${ctx_codec}"},
                  {"Name": "S3_URL",     "Value.$": "${ctx_s3_url}"},
                  {"Name": "EPISODE_ID", "Value.$": "${ctx_episode_id}"}
                ]
              }
            },
            "End": true
          }
        }
      },
      "Next": "CalculateGoldenRecipe"
    },
    "CalculateGoldenRecipe": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${aggregator_lambda_arn}",
        "Payload": {
          "episode_id.$": "${ctx_episode_id}"
        }
      },
      "End": true
    }
  }
}
